@using MvcPL.ViewModels
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/Content/images/icon.png" />
</head>
<body>
    <div class="clearfix">
        <header class="clearfix">
            <div class="logo-div">
                <a href="/"><img src="~/Content/images/logo.png" class="logo nav" alt="Logo" /></a>
            </div>
            <nav>
                <ul class="topnav" id="topnav">
                    <li id="first-li">
                        @Html.ActionLink("Home", "Index", "Photo", routeValues: null, htmlAttributes: new { @class = "nav" })
                        <ul>
                            <li class="nav-li">@Html.ActionLink("About", "About", "Home", routeValues: null, htmlAttributes: new { @class = "nav" })</li>
                            <li class="nav-li">@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "contactLink", @class = "nav", data_dialog_width = 340 })</li>
                            @{
                                if (@User.IsInRole("User"))
                                {
                                    <li class="nav-li">@Html.RouteLink("My Photo", "userphotos", routeValues: null, htmlAttributes: new { @class = "nav" })</li>
                                }
                                else
                                {
                                    <li class="nav-li">@Html.RouteLink("Registry", "register", routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_width = 400 })</li>
                                }
                            }
                            @{
                                if (@User.IsInRole("Administrator"))
                                {
                                    <li class="nav-li">@Html.ActionLink("Users", "Index", "Admin", routeValues: null, htmlAttributes: new { @class = "nav" })</li>
                                }
                            }
                        </ul>
                    </li>
                    <li id="last-li" class="right-float">@Html.Partial("_Login", new LogOnViewModel())</li>
                </ul>
            </nav>
            <section id="search">
                @{
                    using (Html.BeginForm("Find", "Photo", FormMethod.Post, new { id = "search-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" id="photo" name="term" placeholder="Search" />
                        <input type="submit" name="search-btn" form="search-form" id="get-photos" value="" />
                    }
                }
            </section>
            <section id="filter">
            @using (Ajax.BeginForm("Index", "Photo", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "allphoto" }))
            {
                <div>
                    @{Html.RenderAction("GetAllCategoryPhoto", "Category");}
                    <input type="submit" class="button btn" style="border:1px solid lightgray; width:50%;" value="Display" />
                </div>
            }
            </section>
        </header>
        <main class="main-content">
            @RenderBody()
        </main>
    </div>
    <footer>
        <nav>
            <ul class="footer-nav">
                <li>@Html.ActionLink("Home", "Index", "Photo", null, new { @class = "nav" })</li>
                <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "contactLink2", @class = "nav", data_dialog_width = 340 })</li>
                @{
                    if (@User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("My Photo", "GetPhotoForUser", "Photo", null, new { @class = "nav" })</li>
                    }
                    else
                    {
                        <li>@Html.RouteLink("Registry", "register", routeValues: null, htmlAttributes: new { id = "registerLink2", data_dialog_width = 400 })</li>
                    }
                }
                @{
                    if (@User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "Admin", null, new { @class = "nav" })</li>
                    }
                }
            </ul>
        </nav>
        <p>&copy; @DateTime.Now.Year - Lehkova Natalia</p>
        <a href="/" class="nav"><img src="~/Content/images/logo.png" class="footer-logo" alt="Logo" /></a>
    </footer>
    <a href="#" class="scrollToTop"></a>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
