@model IEnumerable<MvcPL.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}


<div class="central-div">
    <h4>List of users</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.RouteLink(item.Email, "usersdetails", new { userId = item.UserId }, new { @class = "email" })
                    <div class="user-description">
                        <img src="@Url.RouteUrl("userimg", new { email = item.Email })" alt="User Photo">
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @{
                        var roles = Html.Action("GetRolesForUser", "Account", new { userId = item.UserId });
                        <div>@Convert.ToString(roles)</div>
                    }
                </td>
                <td>
                    @Html.RouteLink("Delete", "deleteuser", new { id = item.UserId }, new { @class = "delete-user", style = "display:none;" })
                    <noscript>@Html.RouteLink("Delete", "delete", new { id = item.UserId })</noscript>
                </td>
            </tr>
        }
    </table>
</div>