@using MvcPL.Infrastructure.Helpers
@using MvcPL.ViewModels
@model PhotoViewModel

@if (User.IsInRole("User"))
{
    var canVote = Html.Action("CanVote", "Voting", new { userName = User.Identity.Name, photoId = Model.Id });
    var isUserPhoto = Html.Action("IsUserPhoto", "Voting", new { userName = User.Identity.Name, photoId = Model.Id });
    if (Convert.ToBoolean(isUserPhoto.ToString()) == true)
    {
        <div class="vote-div"> It's your photo :)</div>
    }
    else if (Convert.ToBoolean(canVote.ToString()) == true)
    {
        @Html.Ratings(new VotingViewModel() { PhotoId = @Model.Id })
    }
    else
    {
        <div class="vote-div"> You already vote!</div>
    }
 }
 else
 {
    <div class="vote-div"> Sign Up for rate photo!</div>
 }
<div class="left-float">
        <span id="totalRating-@Model.Id">@Html.Action("GetTotalRating", "Voting", new { photoId = Model.Id })</span>
        <img src="~/Content/images/star.png" alt="Star" />
        By <span id="totalRaters-@Model.Id">@Html.Action("GetRaters", "Voting", new { photoId = Model.Id })</span> rater(s)
</div>
<div class="left-float">Description: @Model.Description</div>
<div class="left-float">Category: @Html.Action("GetCategory", "Category", new { categoryId = Model.CategoryId })</div>

@section Scripts
{
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jqueryval")
}

