@model IEnumerable<MvcPL.ViewModels.PhotoViewModel>

<script src="~/Scripts/rating-photos.js"></script>

<div class="div-row">
    @foreach (var item in Model)
    {
        <div class="div-cell">
            <figure>
                @Html.Partial("_Photo", item)
                <figcaption id="@item.Id">
                    @Html.Partial("_AboutPhoto", item)
                </figcaption>
                <noscript>
                    <div style="min-height: 27.1rem;width : 21.2rem;">@Html.Partial("_AboutPhoto", item)</div>
                </noscript>
            </figure>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")