@model MvcPL.ViewModels.PhotoViewModel

@{
    ViewBag.Title = "EditPhoto";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div style="width:80%; margin:0 auto">
<h4>Edit @Model.Description</h4>
<hr>
<div style="float:left; width:40%; margin-left:6em;">
<img id="@Model.Id" src="@Url.Action("GetImage", "Photo", new { photoId = Model.Id })" class="sourcePhoto" width="300" height="300" style="float: left" />
</div>
<div style="float:left; width:48%">
@using (Html.BeginForm("EditPhoto", "Photo", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2", style = "width:20%" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="form-group" style="margin-top: 1em;">
        @Html.Label("Category", new { @class = "col-md-2", style = "width:20%" })
        <div class="col-md-10">
            <div class="categoryDropDown">
                @{Html.RenderAction("GetAllCategoryPhoto", "Category", new { id = Model.CategoryId });}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="form-group">
        <label class="col-md-2"></label>
        <div class="col-md-10">
            <input type="submit" class="btn" value="Save" style="border: 1px solid #999; margin-left:5em; margin-top: 1em;" />
            @Html.ActionLink("Cancel", "GetPhotoForUser", null, new { @class = "btn", style = "border: 1px solid #999; font-size: 12px; margin-top: 1em;" })
        </div>        
    </div>        
}
    </div>
</div>
