@model MvcPL.ViewModels.PhotoViewModel

@{
    ViewBag.Title = "Edit Photo";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div class="central-div">
    <h4>Edit @Model.Description</h4>
    <hr>
    <div style="float:left; width:40%; margin-left:6em;">
        <img id="@Model.Id" src="/images/@Model.Id" class="display-img" style="border: 1px solid #ddd;
    border-radius: 0.5rem;" />
    </div>
    <div class="edit-img">
    @using (Html.BeginForm("EditPhoto", "Photo", FormMethod.Post))
    {
        <div class="form-group clearfix">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 edit-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group clearfix" style="margin-top: 1em;">
            @Html.Label("Category", new { @class = "col-md-2 edit-label" })
            <div class="col-md-10">
                <div class="category-dropdown">
                    @{Html.RenderAction("GetAllCategoryPhoto", "Category", new { id = Model.CategoryId });}
                </div>
           </div>
        </div>
        <br>
        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-10">
            <input type="submit" class="btn edit-save" style="border:1px solid lightgray;" value="Save" />
              @Html.ActionLink("Cancel", "GetPhotoForUser", null, new { @class = "btn edit-cancel", style = "color:black;" })
        </div>
    </div>
    }
    </div>
</div>
