@model MvcPL.ViewModels.PagedData<MvcPL.ViewModels.PhotoViewModel>

@{
    ViewBag.Title = "My Photo";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/Scripts/load-user-photos.js"></script>
<script src="~/Scripts/dialog-login-registry.js"></script>

<div style="width:60%; margin:0 auto;">
    <p style="width:50%;">@Html.ActionLink("Add Photo", "CreatePhoto", routeValues: null, htmlAttributes: new { @class = "link-btn btn" })</p>
    <p style="width:50%">@Html.RouteLink("Add Category", "categorycreate", routeValues: null, htmlAttributes: new { id = "categoryLink", @class = "link-btn btn", data_dialog_width = 350 })</p>
</div>
<br>
<div id="photos-list">
    @if (TempData["message"] != null)
    {
        <div>
            @TempData["message"]
        </div>
    }
        @Html.Partial("PhotosList")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}