@model MvcPL.ViewModels.PagedData<MvcPL.ViewModels.PhotoViewModel>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/Scripts/load-user-photos.js"></script>

<div class="div-table">
    @{var counter = 1;}
    <div class="div-row">
        @foreach (var item in Model.Data)
        {
            <div class="div-cell" id="@item.Id">
                <span data-descr="@item.Description">
                    <img src="@Url.Action("GetImage", "Photo", new { photoId = item.Id })" class="display-img" alt="@item.Description" />
                </span>
                    <div>
                        <noscript>
                            <a href="/Photo/delete-photo/@item.Id" class="right-float">
                                <img src="~/Content/images/delete-photo.png" class="delete-non-ajax" alt="Delete Photo" />
                            </a>
                        </noscript>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete-photo" })
                        <a href="@Url.Action("CreatePhoto", "Photo")" class="right-float">
                            <img src="~/Content/images/add-photo.png" class="photo" alt="Add Photo" />
                        </a>
                        <a class="confirm right-float" href="@Url.Action("EditPhoto", "Photo", new { photoId = item.Id })">
                            <img src="~/Content/images/edit-photo.png" class="photo" alt="Edit Photo" />
                        </a>
                    </div>
</div>
            if (counter % 3 == 0)
            {
                @:</div><div class="div-row">
            }
            counter++;

        }
    </div>
    <div style="clear:both;"></div>
        <div class="div-row" style="text-align:center;">
            @for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                if (i == Model.CurrentPage) {
                    @i
                }
                else {
                    <a class="page-number" href="javascript:void(0)">@i</a>
                }
            }
        </div>
    </div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}