@model MvcPL.ViewModels.PagedData<MvcPL.ViewModels.PhotoViewModel>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
<script src="~/Scripts/load-user-photos.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<div class="div-table">
    @{var counter = 1;}
    <div class="div-row">
        @foreach (var item in Model.Data)
        {
            <div class="div-cell" id="@item.Id">
                <img src="@Url.RouteUrl("photoimg", new { photoId = item.Id})" class="display-img" alt="@item.Description" />
                <div>
                    <noscript>
                        <a href="@Url.RouteUrl(routeName: "photodelete", routeValues: new { id = item.Id })" class="right-float">
                            <img src="~/Content/images/delete-photo.png" class="delete-non-ajax" alt="Delete Photo" />
                        </a>
                    </noscript>
                    <a href="#" data-href="@Url.RouteUrl(routeName: "photodel", routeValues: new { id = item.Id })" class="delete-photo" style="display:none"></a>
                    <a href="@Url.Action("CreatePhoto", "Photo")" class="right-float">
                        <img src="~/Content/images/add-photo.png" class="photo" alt="Add Photo" />
                    </a>
                    <a class="confirm right-float" href="@Url.Action("EditPhoto", "Photo", routeValues: new { photoId = item.Id })">
                        <img src="~/Content/images/edit-photo.png" class="photo" alt="Edit Photo" />
                    </a>
                </div>
            </div>
            if (counter % 3 == 0)
            {
                @:</div><div class="div-row">
            }
            counter++;

        }
    </div>
    <div style="clear:both;"></div>
        <div class="div-row" style="text-align:center;">
            @for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                if (i == Model.CurrentPage) {
                    <p class="btn btn-default selected">@i</p>
                }
                else {
                    <a class="btn btn-default" href="#" onclick="loadUserPhoto(this);" style="display:none;">@i</a>
                    <noscript><a class="btn btn-default" href="@Url.RouteUrl("userphotos", new { page = @i})">@i</a></noscript>
                }
            }
        </div>
    </div>

