@model MvcPL.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Registry";
}

<script>
    $(function () {
        var wrapper = $(".file-upload"),
        inp = wrapper.find("#photo_path"),
        btn = wrapper.find(".button"),
        lbl = wrapper.find("mark");

        inp.change(function () {
            var file_name;
            file_name = inp.val().replace("C:\\fakepath\\", '');
            lbl.text(file_name);
        }).change();
    });
</script>

<div class="central-div">
    <h4>Registry</h4>
    <hr />
    <div id="register-form">
        @using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                @Html.LabelFor(m => m.AvatarImg, new { @class = "control-label col-md-2" })
                <div class="editor-field">
                    <label class="file-upload">
                        <span class="button">Upload File</span>
                        <mark></mark>
                        <input type="file" id="photo_path" name="photo_path" title="Upload File" />
                    </label>
                </div>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control", @placeholder = "Captcha" })
                    @Html.ValidationMessageFor(m => m.Captcha, null, new { @class = "text-danger" })
                    <div class="img-responsive">
                        <a id="link_update" class="link-update" href="#" title="Refresh" onclick="refreshCaptcha()"><img src="@Url.RouteUrl("captcha")" alt="captcha" id="captcha-img" /></a>
                    </div>
                </div>
                <div class="col-md-10">
                    <input type="submit" class="btn" value="Register" />
                </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
